In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.5
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.3      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Loading in the data (replacing all "?" with NA since the predetermined NA value was "?", and NA is easier to deal with)

In [183]:
# Setting names of columns
names <- c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num", show_col_types = FALSE)+

# Reading all of the data from https://archive.ics.uci.edu/ml/datasets/heart+Disease
cleveland_data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data", col_names = names, na = "?", show_col_types = FALSE)
switzerland_data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.switzerland.data", col_names = names, na = "?", show_col_types = FALSE)
hungary_data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.hungarian.data", col_names = names, na = "?", show_col_types = FALSE)
va_data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.va.data", col_names = names, na = "?", show_col_types = FALSE)

Counts of NA values in each dataset, and within every column. This allows us to see which columns we should remove early on, and which would likely cause issues in terms of missing data.

In [69]:
NA_counts <- as.data.frame(cleveland_data[FALSE, ])
x <- substitute(list(cleveland_data, switzerland_data, hungary_data, va_data))

for (i in as.list(x)[-1]) {
    NA_counts[nrow(NA_counts) + 1,] <- map_df(get(i), ~sum(is.na(.x)))
    rownames(NA_counts)[nrow(NA_counts)] <- deparse(i)
}
NA_counts

                 age sex cp trestbps chol fbs restecg thalach exang oldpeak
cleveland_data   0   0   0   0        0    0  0        0       0     0
switzerland_data 0   0   0   2        0   75  1        1       1     6
hungary_data     0   0   0   1       23    8  1        1       1     0
va_data          0   0   0  56        7    7  0       53      53    56
                 slope ca  thal num
cleveland_data     0     4   2  0
switzerland_data  17   118  52  0
hungary_data     190   291 266  0
va_data          102   198 166  0

It looks like the columns `slope`, `ca`, and `thal` all have a large quantity of NA values within three of the four datasets that we are using. For this reason, we chose to drop these three columns since performing imputation with such a small quantity of usable data is quite inaccurate, and also because if we choose to omit NA values then that will delete the row entirely. Additionally, we are choosing to drop `fbs`, `exang`, and `oldpeak` for a similar reason; if we choose to omit all NA values within each row, then keeping these columns will cause us to lose ~150 rows of data (since all rows with NA will be deleted). As such, removing these columns will allow us to keep more observations for our analysis, as well as simplify our model later on by exchanging less features for more data.

In [192]:
data_tidy_multi <- rbind(cleveland_data, switzerland_data, hungary_data, va_data) %>%
    select(-slope, -ca, -thal, -fbs, -exang, -oldpeak) %>%
    na.omit()

num_counts_multi <- data_tidy_multi %>%
    group_by(num) %>%
    summarize(counts = n(), proportions = counts/nrow(data_tidy))
num_counts_multi

[1] 832

  num counts proportions
1 0   373    0.44831731
2 1   244    0.29326923
3 2   100    0.12019231
4 3    91    0.10937500
5 4    24    0.02884615

We can see that there is quite a large class imbalance within the dataset, particularly in the cases of more severe heart disease. Since this analysis is mainly focused on finding the impacts of a patient on whether they do or do not have heart disease, we are largely not interested in the severity of their condition, but instead on whether or not heart disease is present at all. Therefore, we can binarize the output variable by grouping categories 1-4 into a single case (has heart disease).

In [189]:
data_tidy <- data_tidy_multi %>%
    mutate(num = ifelse(num == 0, 0, 1))

num_counts <- data_tidy %>%
    group_by(num) %>%
    summarize(counts = n(), proportions = counts/nrow(data_tidy))

num_counts

  num counts proportions
1 0   373    0.4483173
2 1   459    0.5516827

Evidently, the data is now much more balanced. Now that we have fully tidied our data (`data_tidy`), we can begin the variable selection portion of the analysis.

In [195]:
head(data_tidy)

  age sex cp trestbps chol restecg thalach num
1 63  1   1  145      233  2       150     0
2 67  1   4  160      286  2       108     1
3 67  1   4  120      229  2       129     1
4 37  1   3  130      250  0       187     0
5 41  0   2  130      204  2       172     0
6 56  1   2  120      236  0       178     0